[client]
port            = 3306
socket          = /tmp/mysql_q4m.sock
#default-character-set = utf8

[mysql]
no-auto-rehash
#safe-updates
prompt          = '\u@\h mysql>'
# also can use utf8mb4
default_character_set = utf8

[mysqld]
basedir         = /usr/local/q4m
datadir         = /usr/local/q4m/var
user            = nobody
port            = 13306
socket          = /tmp/mysql_q4m.sock
skip-external-locking
key_buffer_size = 1M
max_allowed_packet = 64M
table_open_cache = 256
max_connections = 4096
max_connect_errors = 10000
sort_buffer_size = 128K
read_buffer_size = 128K
myisam_sort_buffer_size = 128K
thread_cache_size = 256
query_cache_size = 0
query_cache_type = 0
tmp_table_size = 64M
max_heap_table_size = 64M
skip-name-resolve
# also can use utf8mb4
character-set-server=utf8
default-storage-engine=MyISAM
default-tmp-storage-engine=MyISAM
transaction_isolation = REPEATABLE-READ
explicit_defaults_for_timestamp

sql_mode = "STRICT_ALL_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE"

slow_query_log = 1
long_query_time = 10
log_slow_admin_statements

[mysqldump]
quick
max_allowed_packet = 16M

[myisamchk]
key_buffer_size = 8M
sort_buffer_size = 8M
read_buffer = 1M
write_buffer = 0M

[mysqld_safe]
open-files-limit = 8192

