[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
prompt          = '\u@<HOSTNAME> mysql>'

[mysqld]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
skip-external-locking
key_buffer = 32M
max_allowed_packet = 8M
table_cache = 256
max_connections = 1024
max_connect_errors = 10000
sort_buffer_size = 1M
read_buffer_size = 1M
myisam_sort_buffer_size = 1M
thread_cache = 256
query_cache_size = 0M
thread_concurrency = 8
tmp_table_size = 32M
max_tmp_tables=512
wait_timeout = 300
open_files_limit = 8000
skip_name_resolv

log-bin=mysql-bin
relay-log = mysql-relay-bin
log-slave-updates
replicate-ignore-db=mysql

log-slow-queries
long-query-time = 3

server-id       = <SERVER_ID>

innodb_data_file_path = ibdata1:512M:autoextend
innodb_buffer_pool_size = 10G
innodb_additional_mem_pool_size = 20M
innodb_log_file_size = 128M
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT

[mysqldump]
quick
max_allowed_packet = 1M

[mysql]
no-auto-rehash
#safe-updates

[myisamchk]
key_buffer = 8M
sort_buffer_size = 8M
read_buffer = 1M
write_buffer = 0M

